/*============================
General Styles
=========================*/

@import url('https://fonts.googleapis.com/css2?family=Didact+Gothic&family=Fjalla+One&family=Work+Sans:wght@300&display=swap');

/* 
font-family: 'Didact Gothic', sans-serif;
font-family: 'Fjalla One', sans-serif;
font-family: 'Work Sans', sans-serif;

Farben: #9e9e9e, #fff, #000, #333, #666
*/

* {
    padding: 0;
    margin: 0;
    /* überlappend */
    box-sizing: border-box;
}


/* Header=============== */

header {
    padding-top: 1rem;
    text-align: center;
    /* height: 100vh; */
    color: #000;
    margin-bottom: 4rem;
}

header h4 {
    font-family: 'Work Sans', sans-serif;
    margin-bottom: 2rem;
}

header h2 {
    text-align: center;
    font-family: 'Didact Gothic', sans-serif;
    font-size: 4rem;
    margin-bottom: 1rem;
}

header h3 {
    text-align: center;
    font-family: 'Work Sans', sans-serif;
    font-size: 6rem;
    margin-top: 2rem;
}

header img {
    margin: 2rem 0 2rem 0;
}

.sectionOne {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/portfolio2.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    height: 100vh;
    padding-top: 8rem;
    padding-left: 10rem;
}

.sectionOne h3 {
    color: #9e9e9e;
    font-family: 'Work Sans', sans-serif;
    font-size: 1.5rem;
    margin-bottom: 4rem;
}

.sectionOne h1 {
    color: #fff;
    font-family: 'Didact Gothic', sans-serif;
    font-size: 9rem;
    margin: 1rem 0 2rem 0;
}

.sectionOne a {
    text-decoration: none;
    font-family: 'Fjalla One', sans-serif;
    color: #fff;
    border: 1px solid #fff;
    padding: 1rem 1.5rem;
}

.sectionOne p {
    font-family: 'Fjalla One', sans-serif;
    color: #9e9e9e;
    opacity: 0.2;
    font-size: 10rem;
    text-align: right;
    margin-right: 7rem;
}

.sectionOne a:hover {
    background: #fff;
    color: #000;
}

.sectionOne a:hover+p {
    color: #fff;
    opacity: 1;
}